footer {
    line-height: 1.6em;
    background-color: #353535;
    padding: 24px 0 24px 24px;
    color: white;
    font-family: $primary-fontfamily;
    #footer__title{
      font-family: $header-fontfamily;
      font-weight: 100;
      margin-bottom: 10px;
    }
    .footer__list a{
      color: $color-white;
      .fa-handshake{
        transform: rotate(320deg);
      }
      .fas{
        width: 15px;
        padding-right:5px;
      }
    }
  }