.header {
    height: 75px;
    width: 100%;
    position: relative;

    &__back {
        top: 50%;
        position: absolute;
        font-size: 25px;
        padding: 5px 20px;
        transform: translate(10px, -50%);

    }

    &__logo {
        text-align: center;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
    }
}