*, *:before, *:after {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #353535;
}

.info__header, .filter__heading, .container__heading {
  font-size: 1.2rem;
}

.restaurant__byline, .restaurant__heading, .info__byline {
  font-size: 1.1rem;
}

.restaurant__byline, .info__byline, .menu__dish--name p {
  font-weight: 300;
}

.info__button, .search__title, .filter_content, filter li {
  font-size: 1rem;
}

footer .fas {
  font-size: 0.8rem;
}

.filter__order {
  font-size: 0.9rem;
  font-weight: 300;
}

.restaurant__byline {
  line-height: 1.5;
}

.btn {
  box-shadow: 0px 10px 20px 0 rgba(0, 0, 0, 0.16);
  color: white;
  background-color: #9356DC;
  background-image: linear-gradient(175deg, #FF79DA, #9356DC);
  border: none;
  padding: 16px 24px;
  border-radius: 50px;
  cursor: pointer;
}
.btn:hover {
  background-image: linear-gradient(to bottom, #ff93e1, #985ede);
  box-shadow: 0px 5px 15px 0 rgba(0, 0, 0, 0.2);
}

.resturant__save-actions {
  font-size: 1.4rem;
  cursor: pointer;
}
.resturant__save-actions .heart__save-action {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
}
.resturant__save-actions:focus .heart__unsave-action, .resturant__save-actions:hover .heart__unsave-action, .resturant__save-actions:active .heart__unsave-action {
  opacity: 0;
  transition: opacity 1s;
}
.resturant__save-actions:focus .heart__save-action, .resturant__save-actions:hover .heart__save-action, .resturant__save-actions:active .heart__save-action {
  opacity: 1;
  transition: opacity 2s;
}
.resturant__save-actions .far {
  display: block;
}
.resturant__save-actions .fas {
  display: block;
  background-clip: text;
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.loader {
  background: #353535;
  opacity: 0.6;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.home-page__loader {
  display: inline-block;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
}

.home-page__loader div {
  height: 100vh;
  width: 100vw;
  position: absolute;
  width: 6px;
  height: 6px;
  background: #9356DC;
  border-radius: 50%;
  animation: home-page__loader 1.2s linear infinite;
}

.home-page__loader div:nth-child(1) {
  animation-delay: 0s;
  top: 37px;
  left: 66px;
}

.home-page__loader div:nth-child(2) {
  animation-delay: -0.1s;
  top: 22px;
  left: 62px;
}

.home-page__loader div:nth-child(3) {
  animation-delay: -0.2s;
  top: 11px;
  left: 52px;
}

.home-page__loader div:nth-child(4) {
  animation-delay: -0.3s;
  top: 7px;
  left: 37px;
}

.home-page__loader div:nth-child(5) {
  animation-delay: -0.4s;
  top: 11px;
  left: 22px;
}

.home-page__loader div:nth-child(6) {
  animation-delay: -0.5s;
  top: 22px;
  left: 11px;
}

.home-page__loader div:nth-child(7) {
  animation-delay: -0.6s;
  top: 37px;
  left: 7px;
}

.home-page__loader div:nth-child(8) {
  animation-delay: -0.7s;
  top: 52px;
  left: 11px;
}

.home-page__loader div:nth-child(9) {
  animation-delay: -0.8s;
  top: 62px;
  left: 22px;
}

.home-page__loader div:nth-child(10) {
  animation-delay: -0.9s;
  top: 66px;
  left: 37px;
}

.home-page__loader div:nth-child(11) {
  animation-delay: -1s;
  top: 62px;
  left: 52px;
}

.home-page__loader div:nth-child(12) {
  animation-delay: -1.1s;
  top: 52px;
  left: 62px;
}

@keyframes home-page__loader {
  0%, 20%, 80%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}
.loader {
  animation: hideloader 0s 3s;
  animation-fill-mode: forwards;
}

@keyframes hideloader {
  to {
    visibility: hidden;
  }
}
footer {
  line-height: 1.6em;
  background-color: #353535;
  padding: 24px 0 24px 24px;
  color: white;
  font-family: "Roboto", sans-serif;
}
footer #footer__title {
  font-family: "Shrikhand", cursive;
  font-weight: 100;
  margin-bottom: 10px;
}
footer .footer__list a {
  color: #fff;
}
footer .footer__list a .fa-handshake {
  transform: rotate(320deg);
}
footer .footer__list a .fas {
  width: 15px;
  padding-right: 5px;
}

.header {
  height: 75px;
  width: 100%;
  position: relative;
}
.header__back {
  top: 50%;
  position: absolute;
  font-size: 25px;
  padding: 5px 20px;
  transform: translate(10px, -50%);
}
.header__logo {
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.search {
  text-align: center;
  background-color: #eaeaea;
  box-shadow: inset 0 5px 3px -3px #c4c4c4;
  padding: 15px;
}
.search__input {
  padding-left: 70px;
}
.search__title {
  font-family: "Roboto", sans-serif;
  padding-left: 20px;
  border: none;
  font-weight: 700;
  color: #353535;
  background-color: #eaeaea;
}
.search__title:focus {
  outline: none;
}

.info__container {
  text-align: center;
  background-color: #f6f6f6;
  padding: 32px 0px 64px 0px;
}
.info__container .info__byline {
  margin: 2.2em 2.1em;
  font-weight: 300;
}

.filter {
  margin: 30px 20px;
}
.filter__content {
  display: flex;
  gap: 20px;
}
@media screen and (max-width: 850px) {
  .filter__content {
    flex-wrap: wrap;
  }
}
.filter__heading {
  margin-bottom: 15px;
}
.filter__order {
  position: relative;
  top: 0;
  left: 0;
  background-color: #9356DC;
  color: #fff;
  width: 25px;
  height: 25px;
  line-height: 16px;
  border-radius: 50%;
  transform: translate(-43%, 70%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.filter__icon {
  color: #7e7e7e;
  float: left;
  padding: 0px 30px;
}
.filter .icon--active {
  color: #9356DC !important;
}
.filter button {
  min-width: 150px;
  margin-bottom: 20px;
  padding: 3px 0 16px;
  display: inline-block;
  width: 100%;
  border-radius: 20px;
  border: none;
}
.filter button .filter_content {
  font-family: "Roboto", sans-serif;
  float: left;
  position: relative;
  top: -5px;
}

.resturant__container {
  min-width: 200px;
  background-color: #f2f2f2;
  padding: 20px;
}
.resturant__container .container__card {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  flex-direction: row;
  padding: 20px 3rem !important;
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 600px) {
  .resturant__container .container__card {
    padding: 20px 0px !important;
  }
}
.resturant__container .container__card li {
  min-width: 300px;
  flex: 1;
}
.resturant__container .container__card img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: block;
  object-fit: cover;
  width: 100%;
  height: 130px;
}
.resturant__container .container__card .restaurant__image {
  position: relative;
  width: 100%;
  display: inline-block;
}
.resturant__container .container__card .restaurant__media-content {
  position: absolute;
  right: 10px;
  top: 10px;
  background: #99E2D0;
  text-align: center;
  color: #008766;
  padding: 5px 10px;
}
.resturant__container .container__card .resturant__detail {
  position: relative;
  background-color: white;
  padding: 10px;
  line-height: 1.2;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}
.resturant__container .container__card .resturant__save-actions {
  position: absolute;
  bottom: 15%;
  right: 5%;
}

.background__image {
  z-index: -1;
  position: relative;
}

.menu__image {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.menu {
  margin-top: -3rem;
  background-color: #f6f6f6;
  border-radius: 35px;
}
.menu__header {
  position: relative;
  font-family: "Shrikhand", cursive;
  display: flex;
  justify-content: space-between;
  padding: 30px 20px 20px;
}
.menu__header .resturant__save-actions {
  position: absolute;
  top: 40%;
  right: 6%;
}
.menu__title {
  text-transform: uppercase;
  position: relative;
  font-weight: 300;
  margin-bottom: 15px;
}
.menu__underline::after {
  content: "";
  background-color: #99E2D0;
  position: absolute;
  height: 3px;
  width: 35px;
  margin-top: 5px;
}
.menu__list-item {
  margin: 0px 20px;
}
.menu__dish {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 0 8px 20px -4px #d0d0d0;
  animation: dish-appear 2000ms both;
}
.menu__dish--1 {
  animation-delay: 400ms;
}
.menu__dish--2 {
  animation-delay: 800ms;
}
.menu__dish--3 {
  animation-delay: 1200ms;
}
.menu__dish--4 {
  animation-delay: 1600ms;
}
.menu__dish--5 {
  animation-delay: 2000ms;
}
.menu__dish--name {
  flex: none;
  width: 75%;
  padding: 10px;
  transition: width 2s;
}
.menu__dish--name P {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__dish--price {
  padding-bottom: 10px;
  padding-right: 5px;
  width: 25%;
  flex: none;
  align-self: flex-end;
  text-align: center;
}
.menu__dish:hover .menu__tick i {
  transform: rotate(0deg);
}
.menu__dish:hover .menu__dish--name {
  width: 65% !important;
}
.menu__dish:hover .menu__dish--price {
  width: 10%;
}
.menu__tick {
  color: #fff;
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  flex: none;
}
.menu__tick i {
  transform: rotate(-320deg);
  transition: transform 2s ease-out;
}

.form__submit {
  width: 150px;
  position: relative;
  left: 50%;
  right: 50%;
  transform: translate(-50%, 0%);
  margin-top: 20px;
  margin-bottom: 50px;
}

@keyframes dish-appear {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
}

/*# sourceMappingURL=style.css.map */
